{#/**
* placeholder job for SSO sign in node (324) until more qualified hands can look at this
*/
#}
<div>
  <h2 class="visually-hidden">Primary tabs</h2>
  <ul class="tabs--primary nav nav-tabs">
    <li class="active">
      <a href="/user/sso/" data-drupal-link-system-path="user/sso"> Single sign-on</a>
    </li>
    <li ><a href="/user/login" data-drupal-link-system-path="user/login" class="is-active">Log in<span class="visually-hidden">(active tab)</span></a></li>
    <li><a href="/user/register" data-drupal-link-system-path="user/register">Create new account</a></li>
    <li><a href="/user/password" data-drupal-link-system-path="user/password">Reset your password</a></li>
  </ul>
  <p>
    Please note, you are required to be currently logged into the Geoscience Australia for single sign-on to work.
  </p>
  <br/>
</div>

